
/* body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100vh;
    background: url(../images/spinning-loading.gif) no-repeat 50% 50%;
    background-size: cover;
    
} */
#spinner{
    display: none;
}
#seemore{
    display: none;
}

#warning1{
    display: none;
}
#warning2{
    display: none;
}
#warning3{
    display: none;
}